<!DOCTYPE html>
<html>
  <head>
    <title>Component Preview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 p-8">
    <%= yield %>
  </body>
</html>
